.collapsible {
  display: flex;
  height: 22px;
  left: 0px;
  top: 49px;
  margin-top: 6px;
  border-radius: 0px;
  background-color: #99d9f0;
  padding: 8px 8px 8px 10px;
}
.icon {
  position: relative;
  top: 0px;
}

.collapseHead {
  height: 16px;
  width: 1278px;
  position: relative;
  left: 3px;
  top: 0px;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 15px;
  line-height: 15.96px;
  letter-spacing: 5%;
  color: #0f204b;
}

.custombtn {
  font-size: 12px !important;
  margin-top: 0px !important;
  font-weight: bold !important;
  line-height: 15.96px;
  letter-spacing: 5%;
  /* color: #0f204b !important; */
  color: white !important;
  background-color: #0f204b !important;
}

.custombtn:hover {
  /* background-color: #0f204b !important; */

  color: grey !important;
}
.collapsible {
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

.collapseHead {
  margin: 0;
}

.custombtn {
  margin: 10px;
}
.dd {
  width: 2200px !important;
  height: 300px !important;
}
