.container {
    margin-top: 20px;
  }
  
  .tabs {
    border-bottom: 1px solid #ccc;
  }
  
  .tabPanel {
    padding: 20px;
  }
  
  .tabContent {
    margin-bottom: 20px;
  }
  select {
    border: 0;
    width: 100%;
}