/* .td {
  font-size: 10px !important;
  height: 35px !important;
  width: 5rem !important;
} */

table {
  border-collapse: collapse;
}

td,
th {
  font-size: 10px !important;
  height: 27px !important;
  width: 35rem !important;
  text-align: center;
  border: 1px solid #000;
  padding: 0.5rem;
}
 td {
  font-size: 10px !important;
  border: none;
 
  background-color: transparent;
}
.select {
  width: 5rem !important;
  height: 2rem !important;
}
.input{
  
  border: none;
  appearance: none;
  border-style: none;
 
  outline: none;
  
}
input[type=text]:focus {
  outline:  auto 1px;
    outline-color:none ;
    outline-style:none ;
    outline-width:none ;
}
.cont{
  width: 100%;
  overflow-x: auto;
  display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
.table{
  width:2200px;
  height:300px;
}
.head{
  width:2198px;
  height:84px;
}
.body{
  width:2198px;
  height:153px;
}
   

th,tr, td {
    border:1px solid black;
    border-bottom:1px solid black!important ;
  }
  .MuiTableHead-root{
    background-color: rgb(239, 238, 238);
  }
  .selectDropdown {
    padding: 6px;
    font-size: 0.9rem;
    border-radius: 0px;
    border: none;
  }

  .tableHead{
    font-weight: bold !important;
  }
  