table {
  border-collapse: collapse;
  margin-top: 12px;
}

td,
th {
  font-size: 12px !important;
  text-align: center;
  border: 1px solid #000;
  padding: 0.5rem;
  width: 100px;
  height: 40px;
}

.tborder {
  border: none;
}

.tableHead {
  border: 1px solid #000;
}

input {
  border: none !important;
}

tbody td.number {
  text-align: left;
  display: table-cell;
}

.custombtn {
  font-size: 12px !important;
  margin: 10px !important;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 0px !important;
  font-weight: bold !important;
  line-height: 15.96px;
  letter-spacing: 5%;
  color: white !important;
  background-color: #0f204b !important;
}


.sticky-col {
  position: sticky;
  background-color: white;
  white-space: inherit;
  min-width: 136px;
  z-index: 1;
}
.main-row{
  
  left: 40px;
}

.first-col {
  /* width: 100px; */
  /* min-width: 100px;
  max-width: 100px; */
  left: 0px; 
}

.second-col {
  /* width: 100px; */
  /* min-width: 100px;
  max-width: 100px; */
  left: 80px; 
}

.third-col {
  /* width: 100px; */
  /* min-width: 100px;
  max-width: 100px; */
  left: 210px;
}

.fourth-col {
  /* width: 100px; */
  /* min-width: 100px;
  max-width: 100px; */
  left: 325px; 
}